* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  background-color: #222;
}
section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(100px at left center);
}
.title , .inner-title {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  color: aqua;
  width: 100%;
  text-align: center;
  font-size: 20vw;
}
.inner-title {
  background-image: url(hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  z-index: -1;
}
